#data-body form {
  margin-bottom: 0px;
}

#data-body form input {
  width: auto;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
}

#layout-template {
  background: url('../assets/layout-template.png') no-repeat;
  height: 500px;
  width: 500px;
  background-size: contain;
}
