#category {
  font-weight: bold;
}

#example {
  font-style: italic;
}

#data-body form {
  margin-bottom: 0px;
}

#data-body form input {
  width: auto;
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
}

#layout-template {
  background: url('../assets/layout-template.png') no-repeat;
  min-height: 420px;
  background-size: contain;
}
