a.button {
	margin-right: 4px;
}

#vis {
	overflow: scroll;
}

#slider-Time,
#slider-IncidentNumber {
	margin-top: 30px;
}

#checkboxes {
	margin-top: 30px;
}

#checkboxes input {
	margin-left: 10px;
	margin-right: 5px;
}

.checkbox-div{
	max-height: 150px;
	max-width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
}

ul{
	list-style-type: none;
}

li{
	margin-bottom: -1rem;
}